<form class="container" >
      <label class="lbl">Login Account</label>
      (Form with ngModel)
      <br>
      <br>           
          <div>
              Username
              <br>
              <input type="text"[(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" required>
          </div>
            <br>
          <div >
              Password
              <br>
              <input type="password"  [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required > 
              <br>
              <a href="http://forgotPassword.html" target="_blank">Forgot password?</a>
          </div>
          <br>
          
          <br>
          <div class="form-group">
              <button type="submit" (click)="submit()" name="Sign In">Sign In</button>
          </div>
          <br>
          <fieldset class="box">
          <div class="d1">
              <a class="link" href="rediffacc.html" target="_blank">Create a new account</a>
          </div>    
       </fieldset>  
       <div>
         <img>
       </div>
    </form>
