<form class="container" >
      <label class="lbl">rediffmail</label>
      <br>
      <br>           
          <div class="form-group">
              Username
              <br>
              <input type="text"class="form-control" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
          </div>
            <br>
          <div class="form-group">
              Password
              <br>
              <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" > 
              <br>
              <a href="http://forgotPassword.html" target="_blank">Forgot password?</a>
          </div>
          <br>
          <div class="form-group"> 
            <input type="checkbox">Keep me signed in
            <br>
            <label class="lbl1">&nbsp;&nbsp;&nbsp;&nbsp;(Uncheck if on a shared computer)</label>
          </div>
          <br>
          <div class="form-group">
              <button type="submit" (click)="submit()" name="Sign In">Sign In</button>
          </div>
          <br>
          <fieldset class="box">
          <div class="form-group" class="d1">
              <label class="lbl2">Don't have a rediffmail id??</label>
              <br>
              <a class="link" href="rediffacc.html" target="_blank">Create a new account</a>
          </div>    
       </fieldset>  
       <div>
         <img>
       </div>
    </form>
